doctype
html
	head
		meta(charset='UTF-8')
		title doc
		link(href="favicon.ico", rel="icon", type="image/png")
		link(rel="stylesheet", type="text/css", href="css/main.css")
	
	body
		#js-test.test
		//- p content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content 


		//- iframe(id="js-test-iframe", name="a", style="width:100%; height: 100%; opacity: 0;")
		//- script.
		//- 	var iframe = document.getElementById('js-test-iframe');
		//- 	var iframe2 = iframe.cloneNode(true);
		//- 	document.body.appendChild(iframe2);
		//- 	iframe2.contentWindow.onresize = function(){
		//- 		console.log('a');
		//- 	}

		//- script.
		//- 	test = document.querySelector('#js-test');
		//- 	console.log(test);
		//- 	oldFun = HTMLDivElement.prototype.addEventListener;
		//- 	fun = function(){
		//- 		console.log('redefine');
		//- 		oldFun.apply(this, arguments)
		//- 	}
		//- 	HTMLDivElement.prototype.addEventListener = fun;
		//- 	test.addEventListener('click', function(){
		//- 		console.log('click')
		//- 		});

			//- Element.addEventListener('click')
			//- console.log(Element.prototype.addEventListener);
		//- 	console.log(iframe.contentWindow)
		//- 	console.log(a)

		script(src="js/any-resize-event.js")
		script(src="js/main.js")











